/*  your css code here. If applicable */
* {
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
 margin: 10px
}

#incrementBtn{
	padding: 4px;
	
}
#incrementBtn:hover{
	background-color: skyblue;
}